body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

ul {
  list-style-type: none; }

#imgSection {
  height: 40vh; }
  #imgSection .img-fluid {
    width: auto;
    max-height: 100%; }
