body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

#main-nav {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 0.5rem solid grey;
}

.navbar-brand {
  font-weight: bold;
  letter-spacing: 0.25rem;
}

.nav-item {
  padding: 0 1rem;
}

#imgSection {

  height: 50vh;

  .img-fluid {

    width: auto;
    max-height: 100%;

  }

}

footer {

  border-top: 0.5rem solid grey;
  
  
  
  a i {
    transition: all 0.5s ease-in-out;
    
    &:hover {
      transform: scale(1.3);
    }
    
  }

}
