body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

#imgSection {

  height: 50vh;

  .img-fluid {

    width: auto;
    max-height: 100%;

  }

}

footer {

  border-top: 0.5rem solid grey;

}
